/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-addons {
  background-image: url(../img/sprite.png);
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
}
.icon-adv_rpg {
  background-image: url(../img/sprite.png);
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
}
.icon-appl_energ {
  background-image: url(../img/sprite.png);
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
}
.icon-arm_weap_tools {
  background-image: url(../img/sprite.png);
  background-position: -41px -96px;
  width: 24px;
  height: 18px;
}
.icon-biomes {
  background-image: url(../img/sprite.png);
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
}
.icon-blood_magic {
  background-image: url(../img/sprite.png);
  background-position: -119px -24px;
  width: 22px;
  height: 24px;
}
.icon-build_craft {
  background-image: url(../img/sprite.png);
  background-position: 0px -48px;
  width: 24px;
  height: 24px;
}
.icon-calendar {
  background-image: url(../img/sprite.png);
  background-position: -50px -120px;
  width: 14px;
  height: 14px;
}
.icon-championship {
  background-image: url(../img/sprite.png);
  background-position: -142px -79px;
  width: 17px;
  height: 14px;
}
.icon-compass {
  background-image: url(../img/sprite.png);
  background-position: 0px -120px;
  width: 21px;
  height: 18px;
}
.icon-cosmetic {
  background-image: url(../img/sprite.png);
  background-position: -96px -48px;
  width: 23px;
  height: 24px;
}
.icon-customize {
  background-image: url(../img/sprite.png);
  background-position: -142px -93px;
  width: 15px;
  height: 15px;
}
.icon-dimensions {
  background-image: url(../img/sprite.png);
  background-position: -72px -72px;
  width: 24px;
  height: 20px;
}
.icon-down-arrow {
  background-image: url(../img/sprite.png);
  background-position: -142px -63px;
  width: 16px;
  height: 16px;
}
.icon-download {
  background-image: url(../img/sprite.png);
  background-position: -36px -120px;
  width: 14px;
  height: 14px;
}
.icon-energy {
  background-image: url(../img/sprite.png);
  background-position: -96px 0px;
  width: 23px;
  height: 24px;
}
.icon-farming {
  background-image: url(../img/sprite.png);
  background-position: -119px -48px;
  width: 21px;
  height: 24px;
}
.icon-fl_en_transport {
  background-image: url(../img/sprite.png);
  background-position: -89px -96px;
  width: 24px;
  height: 14px;
}
.icon-food {
  background-image: url(../img/sprite.png);
  background-position: -72px -48px;
  width: 24px;
  height: 24px;
}
.icon-furestry {
  background-image: url(../img/sprite.png);
  background-position: -96px -72px;
  width: 23px;
  height: 24px;
}
.icon-genetics {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}
.icon-guides {
  background-image: url(../img/sprite.png);
  background-position: -142px -108px;
  width: 15px;
  height: 12px;
}
.icon-heal {
  background-image: url(../img/sprite.png);
  background-position: -142px 0px;
  width: 18px;
  height: 23px;
}
.icon-ind_craft {
  background-image: url(../img/sprite.png);
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
}
.icon-magic {
  background-image: url(../img/sprite.png);
  background-position: -24px -72px;
  width: 24px;
  height: 23px;
}
.icon-map {
  background-image: url(../img/sprite.png);
  background-position: -20px -96px;
  width: 21px;
  height: 21px;
}
.icon-map_info {
  background-image: url(../img/sprite.png);
  background-position: -48px -48px;
  width: 24px;
  height: 24px;
}
.icon-mobs {
  background-image: url(../img/sprite.png);
  background-position: -48px -72px;
  width: 24px;
  height: 22px;
}
.icon-monitoring {
  background-image: url(../img/sprite.png);
  background-position: -21px -120px;
  width: 15px;
  height: 14px;
}
.icon-player_transp {
  background-image: url(../img/sprite.png);
  background-position: 0px -96px;
  width: 20px;
  height: 24px;
}
.icon-processing {
  background-image: url(../img/sprite.png);
  background-position: -96px -24px;
  width: 23px;
  height: 24px;
}
.icon-programs {
  background-image: url(../img/sprite.png);
  background-position: -142px -47px;
  width: 16px;
  height: 16px;
}
.icon-redstone {
  background-image: url(../img/sprite.png);
  background-position: -65px -96px;
  width: 24px;
  height: 16px;
}
.icon-server_util {
  background-image: url(../img/sprite.png);
  background-position: -24px -48px;
  width: 24px;
  height: 24px;
}
.icon-storage {
  background-image: url(../img/sprite.png);
  background-position: -119px 0px;
  width: 23px;
  height: 24px;
}
.icon-streams {
  background-image: url(../img/sprite.png);
  background-position: -113px -96px;
  width: 16px;
  height: 14px;
}
.icon-sword {
  background-image: url(../img/sprite.png);
  background-position: -119px -72px;
  width: 22px;
  height: 22px;
}
.icon-technology {
  background-image: url(../img/sprite.png);
  background-position: -142px -23px;
  width: 13px;
  height: 24px;
}
.icon-thauncraft {
  background-image: url(../img/sprite.png);
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
}
.icon-thermal_exp {
  background-image: url(../img/sprite.png);
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
}
.icon-tinkers_const {
  background-image: url(../img/sprite.png);
  background-position: 0px -72px;
  width: 24px;
  height: 24px;
}
